<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sabras Software LLC</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  	<%= pageRow do %>
  		<!-- TODO: use local image asset file -->
        <h1 align="center"><img height="50%" width="50%" src="http://imgur.com/NBsW3hI.jpg"></img></h1>
  	<% end %>
	
    <%= yield %>
    
    <%= pageRow do %>
  		<h1 align="center" class="copyrightNotice"> &copy; Sabras Software LLC, 2015</h1>
  	<% end %>

  </body>
</html>
