<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sabras Software LLC</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  	<br />
  	<%= pageRow do %>
  		<!-- TODO: use local image asset file -->
        <h1 class="pageNotice">
        	<%= image_tag('sabras-logo.jpg', :height => '50%', :width => '50%') %>
        </h1>
  	<% end %>
  	<br />
  	<br />
  	
  	<%= pageRow do %>
  		<div id="main" class="callout panel">
			<h1 class="pageNotice">
				We&rsquo;re currently rebuilding our website, as we take the company into a new direction. 
				Pardon the caution tape &amp; please wear a hardhat!
			</h1>
		</div>
  	<% end %>
	<br />
	<br />
	
    <%= yield %>
    
    <%= pageRow do %>
  		<h1 class="copyrightNotice"> &copy; Sabras Software LLC, 2015</h1>
  	<% end %>

  </body>
</html>
